= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      h2 = "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      ul
        - @task.errors.full_messages.each do |message|
          li = message

  = f.hidden_field :creator_id, value: current_user.id

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
    - if @task.errors.messages[:title].any?
      .invalid-feedback
        = error_message_for(@task, :title)

  .form-group
    = f.label :description
    = f.text_area :description, rows: 5, class: 'form-control'

  .form-group
    = f.label :assigned_to_id
    = f.collection_select :assigned_to_id, @users_for_assigns, :id, :full_name, {}, class: 'form-control'

  .form-group
    = f.label :status
    = f.text_field :status, class: 'form-control', disabled: true

  .actions = f.submit class: 'btn btn-primary' 
