h1.mt-4 Editing task

.mt-3.mb-3
  = link_to icon('fas', 'arrow-circle-left', 'Back'), tasks_path, role: 'button', class: 'btn btn-secondary mr-1'
  = link_to icon('fas', 'eye', 'Show'), @task, role: 'button', class: 'btn btn-warning'

.row
  .col-lg-6
    == render 'form'

