h1.mt-4 Tasks
.mt-3.mb-3
  = link_to 'New Task', new_task_path, role: 'button', class: 'btn btn-primary'

.row
  .col
    .card
      .card-header
        nav
          #nav-tab.nav.nav-tabs.card-header-tabs role="tablist"
            a#nav-assignedToMe-tab.nav-item.nav-link.active [data-toggle="tab" href="#nav-assignedToMe" role="tab"
              aria-controls="nav-assignedToMe" aria-selected="true"]
              | Assigned to me
              span.badge.badge-success.ml-1 = @tasks_for_current_user.count
            a#nav-created-by-me-tab.nav-item.nav-link [data-toggle="tab" href="#nav-createdByMe" role="tab"
              aria-controls="nav-createdByMe" aria-selected="false"]
              | Created by me
              span.badge.badge-success.ml-1 = @tasks_from_current_user.count

      .card-body
        #nav-tasksTabContent.tab-content
          #nav-assignedToMe.tab-pane.fade.show.active role="tabpanel" aria-labelledby="nav-assignedToMe-tab"
            - if @tasks_for_current_user.blank?
              p.mt-3.pl-3 No tasks
            - else
              = render template: 'tasks/partials/_table', locals: { tasks: @tasks_for_current_user, user_type: :creator }

          #nav-createdByMe.tab-pane.fade role="tabpanel" aria-labelledby="nav-createdByMe-tab"
            - if @tasks_from_current_user.blank?
              p.mt-3.pl-3 No tasks
            - else
              = render template: 'tasks/partials/_table', locals: { tasks: @tasks_from_current_user, user_type: :assigned_to }
