h1.mt-4 = @task.title

.mt-3.mb-3
  = link_to icon('fas', 'arrow-circle-left', 'Back'), tasks_path, role: 'button', class: 'btn btn-secondary mr-1'
  - if @task.can_be_edited? current_user
    = link_to icon('fas', 'eye', 'Edit'), edit_task_path(@task), role: 'button', class: 'btn btn-warning mr-1'
  - if @task.can_be_ran? current_user
    = action_run(@task)
  - elsif @task.can_be_completed? current_user
    = action_complete(@task)

.row.pl-3.mt-1
  .col-lg-6
    .row
      p.col-lg-4.border.text-center Title
      p.col-lg-8 = @task.title
    .row
      p.col-lg-4.border.text-center Description
      p.col-lg-8 = @task.description
    .row
      p.col-lg-4.border.text-center Creator
      p.col-lg-8 = @task.creator.full_name
    .row
      p.col-lg-4.border.text-center Assigned to
      p.col-lg-8 = @task.assigned_to.full_name
    .row
      p.col-lg-4.border.text-center Status
      p.col-lg-8 = @task.status.humanize
