.row.justify-content-center
  .col.col-lg-4
    .card.mt-5
      .card-header
        h2.mb-0.text-center
          | Sign in
      .card-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

          .form-group
            .input-group
              = tag.div tag.span(icon('fas', 'at'), class: 'input-group-text'), class: 'input-group-prepend'
              = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
              - if resource.errors.messages[:email].any?
                .invalid-feedback
                  = error_message_for(resource, :email)

          .form-group
            .input-group
              = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
              = f.password_field :password, autocomplete: 'off', class: 'form-control'
              - if resource.errors.messages[:password].any?
                .invalid-feedback
                  = error_message_for(resource, :password)

          - if devise_mapping.rememberable?
            .form-group.form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'

          .form-group
            .input-group
              = f.submit 'Sign in', { class: 'btn btn-success col' }
              - if devise_mapping.registerable? && controller_name != 'registrations'
                = tag.span 'or', class: 'pl-1 pr-1 mt-2'
                = link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-primary col' 

          = render 'users/shared/links'

