table.table.table-striped.table-hover
  thead
    tr
      th.text-left Title
      th.text-center = user_type.to_s.humanize
      th.text-center Status
      th

  tbody
    - tasks.find_each do |task|
      tr
        td.text-left = task.title
        td.text-center = task.send(user_type).full_name
        td.text-center = task.status.humanize
        td.text-right
          = action_show(task)
          = action_edit(task) if task.can_be_edited? current_user
          = action_destroy(task) if task.can_be_destroyed? current_user
