.row
  .col.mt-3
    h2
      | Forgot your password?

.row.mt-3
  .col.col-lg-6
    = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
      .form-group
        .input-group
          = tag.div tag.span(icon('fas', 'at'), class: 'input-group-text'), class: 'input-group-prepend'
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
          - if resource.errors.messages[:email].any?
            .invalid-feedback
              = error_message_for(resource, :email)

      .form-group
        = f.submit 'Send me reset password instructions', class: 'btn btn-primary'

      = render 'users/shared/links'

