// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  margin-bottom: 0;
  tr {
    td {
      vertical-align: middle;
    }
  }
}
