header.navbar.navbar-expand-lg.navbar-dark.bg-success
  = link_to 'Valucon Test', root_path, class: 'navbar-brand'
  button.navbar-toggler [type="button" data-toggle="collapse" data-target="#navbarNav"
                         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"]
    span.navbar-toggler-icon

  = tag.div id: 'navbarNav', class: "collapse navbar-collapse justify-content-#{signed_in? ? 'between' : 'end'}" do
    - if signed_in?
      ul.navbar-nav
        li.nav-item
          = link_to 'Home', root_path, class: 'nav-link'

    ul.align-items-center.navbar-nav
      - if signed_in?
        li.nav-item
          a#user-menu.dropdown-toggle.text-light [href="#" role="button" data-toggle="dropdown"
                                                       aria-hasprop="true" aria-expanded="false"]
            = icon('fas', 'user-circle', title: current_user.first_name || current_user.email, class: 'mr-1')

          .dropdown-menu.dropdown-menu-right aria-labelledby="user-menu"
            = link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item'
            .dropdown-divider
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        li.nav-item
          = link_to 'Sign in', user_session_path, class: 'nav-link'

