.messages.mt-3
  - flash.each do |key, value|
    div class="alert alert-#{bootstrap_alert_class_for(key)} alert-dismissible fade show"
      = button_tag icon('fas', 'times-circle', aria: { hidden: true }), type: 'button', class: 'close',
                                               data: { dismiss: 'alert' }, aria: { label: 'Close' }
      ul.list-unstyled.mb-0
        li
          = value
