doctype html
html
  head
    title
      | ValuconTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'layouts/header'
    .container-fluid
      = render 'layouts/messages'
      main.mb-3
        = yield
