.row
  .col.mt-3
    h2
      | Edit profile

.row.mb-3
  .col.col-lg-6
    = form_for(resource, as: resource_name, url: users_edit_path, html: { method: :put }) do |f|
      .form-group
        = f.label :first_name
        = f.text_field :first_name, autofocus: true, autocomplete: 'on', class: 'form-control'
        - if resource.errors.messages[:first_name].any?
          .invalid-feedback
            = error_message_for(resource, :first_name)

      .form-group
        = f.label :last_name
        = f.text_field :last_name, autocomplete: 'last_name', class: 'form-control'
        - if resource.errors.messages[:last_name].any?
          .invalid-feedback
            = error_message_for(resource, :last_name)

      .form-group
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            = "Currently waiting confirmation for: #{resource.unconfirmed_email}"

        .input-group
          = tag.div tag.span(icon('fas', 'at'), class: 'input-group-text'), class: 'input-group-prepend'
          = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
          - if resource.errors.messages[:email].any?
            .invalid-feedback
              = error_message_for(resource, :email)

      .form-group
        = f.label 'New password', class: 'mb-0'
        = tag.small "(leave blank if you don't want to change it)", class: 'form-text text-muted mt-0'
        .input-group
          = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
          = f.password_field :password, autocomplete: 'off', aria: { describedby: "newPassword" }, class: 'form-control'
          - if resource.errors.messages[:password].any?
            .invalid-feedback
              = error_message_for(resource, :password)

        - if @minimum_password_length
          = tag.small "#{@minimum_password_length} characters minimum", id: 'newPassword', class: 'form-text text-muted'

      .form-group
        = f.label :password_confirmation
        .input-group
          = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
          = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
          - if resource.errors.messages[:password_confirmation].any?
            .invalid-feedback
              = error_message_for(resource, :password_confirmation)

      .form-group
        = f.label :current_password, class: 'mb-0'
        = tag.small "(we need your current password to confirm your changes)", class: 'form-text text-muted mt-0'
        .input-group
          = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
          = f.password_field :current_password, autocomplete: 'off', class: 'form-control'
          - if resource.errors.messages[:current_password].any?
            .invalid-feedback
              = error_message_for(resource, :current_password)

      .form-group
        = f.submit 'Update', class: 'btn btn-primary'

    h3.mt-4
      | Cancel my account
    p
      | Unhappy?
    = button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' },
                method: :delete, class: 'btn btn-danger mb-4'

    = link_to icon('fas', 'arrow-circle-left', 'Back'), :back, role: 'button', class: 'btn btn-secondary'
