.row.justify-content-center
  .col.col-lg-4
    .card.mt-5
      .card-header
        h2.mb-0.text-center
          | Sign up
      .card-body
        = form_for resource, as: resource_name, url: users_sign_up_path,
                             html: { class: "needs-validation", novalidate: true } do |f|
          .form-group
            = f.label :first_name
            = f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control'
            - if resource.errors.messages[:first_name].any?
              .invalid-feedback
                = error_message_for(resource, :first_name)

          .form-group
            = f.label :last_name
            = f.text_field :last_name, autocomplete: 'last_name', class: 'form-control'
            - if resource.errors.messages[:last_name].any?
              .invalid-feedback
                = error_message_for(resource, :last_name)

          .form-group
            = f.label :email
            .input-group
              = tag.div tag.span(icon('fas', 'at'), class: 'input-group-text'), class: 'input-group-prepend'
              = f.email_field :email, autofocus: true, autocomplete: 'email', class: "form-control"
              - if resource.errors.messages[:email].any?
                .invalid-feedback
                  = error_message_for(resource, :email)

          .form-group
            = f.label :password
            .input-group
              = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
              = f.password_field :password, autocomplete: 'off', class: "form-control"
              - if resource.errors.messages[:password].any?
                .invalid-feedback
                  = error_message_for(resource, :password)

            - if @minimum_password_length
              = tag.small "#{@minimum_password_length} characters minimum", id: 'newPassword', class: 'form-text text-muted'

          .form-group
            = f.label :password_confirmation
            .input-group
              = tag.div tag.span(icon('fas', 'key'), class: 'input-group-text'), class: 'input-group-prepend'
              = f.password_field :password_confirmation, autocomplete: 'off', class: "form-control"
              - if resource.errors.messages[:password_confirmation].any?
                .invalid-feedback
                  = error_message_for(resource, :password_confirmation)

          .form-group
            = f.submit 'Sign up', class: 'btn btn-primary col'

          = link_to "Sign in", new_session_path(resource_name)

